.poweredby_con{

    background-color: #5d2cbe;
    background-image: linear-gradient(235deg, #a53de9 0, #8d38db 25%, #7532cd 50%, #5d2cbe 75%, #4427b0 100%);
    opacity: 0.85;
    color: white;
    padding: 20px 200px 40px 200px;
    text-align: center;
}